<%= content_for(:maps) do%>
<style type="text/css">
  #map {
    margin: 0;
    padding: 0;
    border:solid 4px #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:900px;
    height:500px;
    margin-bottom:20px;
    margin-left: 50px;
    left: 300px;
    top:-50px;
  }
</style>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  var map;
  var marker;
  function initialize(){
    map = new GMaps({
            div: '#map',
            zoom: 10,
            lat: 13.67527,
            lng: -89.28572,
          });
    <% @zones.each do |zone|%>
      <%if zone[:latitude] and zone[:longitude] %>
        marker = map.addMarker({
                  lat: <%=zone[:latitude] %>,
                  lng: <%=zone[:longitude]%>,
                  title: "<%="#{zone[:name]}}"%>"
                });
      <%end%>
    <%end%>
  }
  function codeAddress(){
    GMaps.geocode({
      address: $('#map_search').val() + ",El Salvador",
      callback: function(results, status) {
        if (status == 'OK') {
            var latlng = results[0].geometry.location;
            map.setCenter(latlng.lat(), latlng.lng());
            marker =  map.addMarker({
                        lat: latlng.lat(),
                        lng: latlng.lng(),
                        title: $('#map_search').val()
                      });
        }
      }
    });
    false;
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<%end%>
<div class = "zone">
  <%= text_field :map, :search, placeholder: "Busca un lugar"%>
  <%= link_to "Marcar en el mapa", "#",class: "pin-btn"%>
</div>
<div id = "map"></div>